body {color:#090909;font-family:helvetica, arial, sans-serif;}

header{width:60%; min-width:400px;padding:5px; margin:0px auto;}
nav{width:60%; min-width:400px;padding:5px; margin:0px auto;}
nav li{display:inline-block;}
nav ul{list-style-type:none;}
section{width:60%; min-width:400px;padding:5px; margin:0px auto;}
footer{width:60%; min-width:400px;padding:5px; margin:0px auto;}
